<?xml version="1.0"?>
<robot name="diabolo"
       xmlns:xi="http://www.w3.org/2001/XInclude">
  <link name="nil_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="file://./nil_link_mesh.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="file://./nil_link_mesh.dae" scale="1 1 1" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.001" />
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
  </link>
</robot>
