<launch>
  <node name="tf_transform_cloud" pkg="jsk_pcl_ros" type="tf_transform_cloud">
    <remap from="~input" to="kinect_head_remote/depth_registered/points" />
    <!-- <param name="_target_frame_id" value="base_footprint"/> -->   
  </node>

  <node name="sample_pcl" pkg="pr2_juggle" type="sample_pcl">
    <remap from="~input" to="tf_transform_cloud/output" />
  </node>

  <!--<node name="state_input_logger" pkg="pr2_juggle" type="state-input-logger.py"/> -->
</launch>
