<launch>
   <include file="$(find pr2_description)/robots/upload_pr2.launch"/>

  <node name="diabolo_euslisp_idle_simulate" pkg="roseus" type="roseus" args="$(find jsk_diabolo_pr2)/euslisp/demo-idle-simulate.l" />
  
  <node pkg="robot_state_publisher" type="state_publisher" name="rob_st_pub" />
  
  <node name="pub_diabolo_model" pkg="jsk_diabolo_pr2" type="publish_diabolo_model" />

  <node name="rviz_diabolo" pkg="rviz" type="rviz" args="~/.rviz/idle_simulate.rviz" />
</launch>
